body {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  // box-shadow: 0 0 2px 1px lightgrey;
  // background: #f1f1f1;
  display: flex;
  align-items: center;

  .link-styles {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    user-select: none;

    &.logo {
      color: black;
      // margin: 0 100px 0 50px;
      font-size: 50px;
      font-family: 'Cookie', cursive;
    }

    &:hover {
      color: black;
    }
  }

  .selected {
    color: black;
  }

  .nav-list {
    position: absolute;
    right: 0;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    user-select: none;

    li {
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }
}
